.logOut-btn{
    border: 2px solid black;
    background-color: white;
    margin-top: 25px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: inset 0 0 0 0 black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.logOut-btn:hover{
    color: white;
    box-shadow: inset 0 0 0 50px black;
}

#logOut-div{
    text-align: center;
}

.errorDiv-footer {
    color: white;
    font-weight: bolder;
}