main {
    text-align: center;
}

label {
    font-size: 1.5em;
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 10px;
}

.errorDiv {
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 12em;
}

input {
    display: inline-block;
    font-size: 1.3em;
}

.formPair {
    margin-top: 10px;
}

.logIn-btn{
    border: 2px solid black;
    margin-top: 25px;
    margin-left: 7.6em;
    margin-right: -7.0em;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: inset 0 0 0 0 black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.logIn-btn:hover{
    color: white;
    box-shadow: inset 0 0 0 50px black;
}

.bottomSignInLabel {
    margin-left: 13.6em;
    margin-top: 25px;
}

.link {
    color:white;
    font-weight: bold;
}

.link:hover {
    cursor: pointer;
    color:black;
}
