main {
    text-align: center;
}

label {
    font-size: 1.5em;
}

.logIn-btn{
    border: 2px solid red;
    border-radius: 0px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 red;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}

.logIn-btn:hover{
    box-shadow: inset 0 0 0 50px red;
}